*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-y:hidden; */
}

html, body {
    min-height: 100%;
    position: relative;
}

.main{
    
    height: 50vh;
    
 
    
     
}

.smallfont{
    font-size: 14px;
}

.extrasmall{
    font-size: 12px;
    text-align: center;
}
.extrasmall2{
    font-size: 12px;
    
}